
{% extends 'main.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="header-bar">
           
            
        <a href="{% url 'create-entry' %}">Create Entry</a>
        <a href="{% url 'entry-log' %}">View Entry Log</a>
        <a href="{% url 'calendarSearch' %}">Search by date</a><br>
        
        
         
        
    </div>

    
           
            
            <div class="content-mid">
               

                {% if page == 'entry-log' %}
                <div class="search-items">
                    <form action="" method="POST">
                     {% csrf_token %}
                     <input type="text" name="searched" placeholder = "Search for entries" />
                     
                     
                    </form>
                </div>
                {% include 'base/entry_log.html' %}


                {% elif searched %}
                {% include 'base/entry_log.html' %}

                {% elif page == 'create-entry' %}
                {% include 'base/create-entry.html' %}

                {% elif page == 'calendar' %}
                {% include 'base/calendar_module.html' %}

                {% elif page == 'update-entry' %}
                {% include 'base/update_entry.html' %}

                {% else %}
                <div class="diary-name">
                    {{ request.user.username }}'s Diary
                </div>

                
                {% endif %}

            </div>
    {% else %}           
            {% include 'base/intro-content.html' %}


            
           
      
{% endif %}


</div>

{% endblock %}