
{% extends 'main.html' %}

{% block content %}
<h1>Welcome to Daily Journal</h1>
{% if user.is_authenticated %}
<div class="container">

    <div class="notebook">
        <div class="side-border">

        </div>

        <div class="main-content">
            <div class="header-bar">
                <a href="{% url 'create-entry' %}">Create Entry</a>
                
                
                <a href="{% url 'entry-log' %}">View Entry Log</a>
                <a href="{% url 'calendarSearch' %}">Search via date</a>
                
            </div>
            
            <div class="content-mid">

                {% if page == 'entry-log' %}
                <div class="search-items">
                    <form action="" method="POST">
                     {% csrf_token %}
                     <input type="text" name="searched" placeholder = "Search for entries" />
                     
                     
                    </form>
                </div>
                {% include 'base/entry_log.html' %}

                {% elif page == 'create-entry' %}
                {% include 'base/create-entry.html' %}

                {% elif page == 'calendar' %}
                {% include 'base/calendar_module.html' %}

                {% else %}
                <p>{{request.user.username}}'s Diary</p>

                
                {% endif %}

            </div>
            
            
           
        </div>
    </div>
{% endif %}


</div>

{% endblock %}